.header{
    background-image: url("./moutains.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1{
    text-align: center;
    font-size: 80px;
}